#box {
  width: 700px;
  height: 500px;
  background-color: black;
}

#clock {
  width: 100%;
  line-height: 100%;
  margin-top: 30%;
  margin-bottom: 30%;
  text-align: center;
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 4em;
  background-color: black;
  color: white;
}
